
#photos img {
    width: 200px !important;
    height: auto !important;
    margin: 10px;
}

#upload_progress {
    width: 100%;
    background-color: #ddd;
    display: none;
}

#upload_progress_bar {
    width: 1%;
    height: 6px;
    background-color: #4CAF50;
}

#photos > img.ui-selectee {
    outline: thick solid green;
}

#photos > img.ui-selected {
    outline: thick solid red;
}

#delete_selected_button, #multiple_select_note {
    display: none;
}